    $imgT : 150px;
    
    
    .portada{
        width: 100vw;
        height: 100vh;
    }

    .contenedor-portada{
        // background-color: $color-verde-oscuro!important;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    
    }

    .menu{
        background-color: $color-verde-oscuro;
        width: 100vw;
        height: 100vh;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;

        &-img{
            width: $imgT;
            cursor: pointer;
        }

        h1{
            cursor:pointer;
        }


    }

    .fullSize{
            width: 100vw!important;
            height: 100vh!important;
    }

.gato-img{
    width: 350px;
    height: auto;
    object-fit: contain;
}


.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: $Oswald ;
    font-size:4em;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
                                                                                                                                                                                    ;
    &-uno{                                                                                          
        color: $color-azul-oscuro-dos;
    }
    &-dos{
        color: white;
    }
}

.boton-inicio{
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de transparencia */
    color: white; /* Ícono blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px; /* Ancho fijo */
    height: 50px; /* Alto fijo */
    display: flex; /* Para centrar el ícono */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
}

.boton-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Espacio superior */
}

.content-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 8rem;
    gap: 5rem;

    @media (max-width: 768px) {
        height: 100%;
        width: 100%;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
        .items{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90vw;

        }
    }

}

.statement-container {
    margin-top: 1rem;
    padding: 0 2rem;
    max-width: 600px; /* Ancho máximo para el contenedor del texto */
    width: 100%;
}

.cuadro {
    border: 1px dashed rgba(255, 255, 255, 0.5);
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.statement {
    font-family: $Oswald, sans-serif; /* Usamos la fuente Oswald */
    font-size: 1rem; /* Tamaño de fuente más grande */
    color: black;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1px;
}

